@model HotelPatito.Models.Tipadas.Administrador
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css" rel='stylesheet' type='text/css' />
<h2>Create</h2>

<div class="container">
    <form id="contact" action="../Administrador/Create" method="post">
        <h3>Cree su Usuario</h3>
        <fieldset>
            <input placeholder="Usuario" id="usuario" name="usuario" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input placeholder="Contraseña" id="contra" name="contra" type="password" tabindex="2" required>
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="submit" data-submit="...Sending">Guardar</button>
        </fieldset>
        <p class="copyright">Hotel Patito <!--<a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a>--></p>
    </form>
</div>
